<h1><%= @user.name %>のページ</h1>
<%= link_to 'お気に入り一覧', favorites_path %>

<p>メールアドレス: <%= @user.email %></p>
<p>プロフィール画像:<%= image_tag @user.image.url %></p>

<%= link_to 'New Picture', new_picture_path %>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>

