<div class="wrapper">
  <h1>投稿一覧</h1>
  
  <table class="text-left mb-5">
    <thead>
      <tr class="border-bottom">
        <th class="col-2 pl-0 pb-2">投稿者</th>
        <th class="col-4 pl-0 pb-2">コメント</th>
        <th class="col-2 pl-0 pb-2">画像</th>
        <th class="col-1 pl-0 pb-2"></th>
        <th class="col-1 pl-0 pb-2"></th>
        <th class="col-1 pl-0 pb-2"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @pictures.each do |picture| %>
        <tr class="border-bottom">
          <td class="pt-4 pb-4"><%= picture.user.name %></td>
          <td class="pt-4 pb-4"><%= picture.content %></td>
          <td class="pt-4 pb-4"><%= image_tag picture.image_url(:thumb) if picture.image.present? %></td>
          <td class="pt-4 pb-4"><%= link_to '詳細', picture %></td>
  
          <% if picture.user == current_user %>
            <td class="pt-4 pb-4"><%= link_to '編集', edit_picture_path(picture) %></td>
            <td class="pt-4 pb-4"><%= link_to '削除', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
            <td class="pt-4 pb-4"></td>
            <td class="pt-4 pb-4"></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <p><%= link_to '新規投稿を作成', new_picture_path, class:"btn btn-light" %></p>
</div>
