<!DOCTYPE html>
<html>
  <head>
    <title>InstaClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="w-50 mx-auto">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <nav class="navbar navbar-expand-lg navbar-light pl-0 mb-4">
      <div class="container-fluid">
        <div class="pt-3">
          <div class="d-flex flex-row">
            <% if logged_in? %>
              <%= link_to "Profile", user_path(current_user.id), class:"text-white nav-link" %>
              <%= link_to "Logout", session_path(current_user.id), method: :delete, class:"text-white nav-link" %> 
              <%= link_to "投稿一覧", pictures_path, class:"text-white nav-link" %> 
            <% else %>
              <%= link_to "Sign up", new_user_path, class:"text-white nav-link" %>
              <%= link_to "Login", new_session_path, class:"text-white nav-link" %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
    
    <% if Rails.env.development? %>
      <script type="module" src="https://cdn.skypack.dev/@aki77/rails-template-inspector"></script>
      <rails-inspector url-prefix="vscode://file" root="<%= Rails.root %>" combo-key="command-shift-v"></rails-inspector>
    <% end %>
  </body>
</html>
